# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Local settings
local_settings.py

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env
.env.*

# Backup files
*.bak
*.swp
*.swo

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Coverage / test reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy cache
.mypy_cache/

# Pytest cache
.pytest_cache/
