{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Infinity Wiki</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h1>Infinity Wiki</h1>
    <form method="POST">
      {% csrf_token %}
      <input
        type="text"
        name="query"
        placeholder="Ask Infinity Wiki"
        required
      />
      <button type="submit">Search</button>
    </form>

    {% if result %}
    <div>
      <div>{{ result | safe}}</div>
    </div>
    {% endif %}
  </body>
</html>
